<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EDE42221EE68F8E00EB64E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EDE42361EE68F9000EB64E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EDE42411EE68F9000EB64E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
